*{
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Abel', sans-serif;
}

.section{
    overflow: hidden;
    background-color: #D5DCE4;
}
.Shadow{
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}

/* Todos */

.BackStripe{
    position: absolute;
    text-align: center;
    background: #2D3A4B;
    width: 50vw;
    margin-left: 25vw;
    height: 100vh;
    z-index: 0;
}


/*Nav*/
.MainNav{
    position:absolute;
    height: 35vh;
    text-align: left;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(70vw, -45vh);
    z-index: 100;
}
.NavPage{

}
.NavPage a{
    color: #D5DCE4;
    margin-right: 10px;

}
.NavPage a:hover{
    font-size: 1.1em;
}

/* Div 1 */
.TopMenu{
    position: absolute;
    background-color: #2D3A4B;

    width: 100vw;
    height: 45vh;
    transform: translate(0, -50vh);
}
.MainLogo{
    position: absolute;
    width: 35vh;
    transform: translate(10vw, -45vh);
}
.BackImage1{
    position: absolute;
    width: 100vw;
    transform: translate(0, -5vh);
}


/* Div 2 */
.BackImage2 {
    position: absolute;
    width: 100%;
    -webkit-transform: translate(0, -62vh);
    transform: translate(0, -62vh);
}
.LOGO2{
    position: absolute;
    width: 15vw;
    top: 5vh;
    left: 25vh;
}
.TitleText{
    text-align: justify;
    font-size: 1.5em;
    color: #2D3A4B;
    position: absolute;
    width: 50vw;
    top: 10vh;
    left: 55vw;
}

/* Div 3 */
.TitleImage_3{
    position: absolute;
    width: 30vw;
    margin-left: 15vw;
    margin-top: 20vh;
    z-index: 150;
}
.SubImage_3{
    position: absolute;
    width: 30vw;
    margin-left: 45vw;
    margin-top: 17vh;
    z-index: 100;
}
.BackShadow_3{
    background: #B9CB39;
    position: absolute;
    margin-left: 20vw;
    margin-top: 25vh;
    width: 60vw;
    height: 60vh;
    z-index: 50;
}


/* Div 4 */
.TitleImage_4{
    position: absolute;
    width: 30vw;
    margin-left: 15vw;
    margin-top: 35vh;
    z-index: 150;
}
.SubImage_4{
    position: absolute;
    width: 50vw;
    margin-left: 30vw;
    margin-top: 25vh;
    z-index: 100;
}
.BackShadow_4{
    background: #3B3B89;
    position: absolute;
    margin-left: 17vw;
    margin-top: 15vh;
    width: 60vw;
    height: 60vh;
    z-index: 50;
}

/* Div 5 */
.TitleImage_5{
    position: absolute;
    width: 30vw;
    margin-left: 15vw;
    margin-top: 20vh;
    z-index: 150;
}

.SubImage_5{
    position: absolute;
    width: 30vw;
    margin-left: 45vw;
    margin-top: 17vh;
    z-index: 100;
}

.BackShadow_5{
    background: #D10B4D;
    position: absolute;
    margin-left: 20vw;
    margin-top: 25vh;
    width: 60vw;
    height: 60vh;
    z-index: 50;
}
/* Div 6*/
.BackStripeEnd{
    position: absolute;
    background: #2D3A4B;
    width: 50vw;
    margin-left: 25vw;
    height: 50vh;
    top: 0px;

}

.BackRectangle{
    position: absolute;
    top: 30vh;
    width: 100vw;
    height: 70vh;
    background: #2D3A4B;
}
.FootLogo{
    top: 0;
    width: 10vw;
    transform: translate(45vw, -20vh);
}

.SocialMedia{
    position:absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
    font-size: 3em;
    transform: translate(40vw, -10vh);
    z-index: 100;
    color: #fff;
    text-align: center;
}
.SocialMedia a{
    color: #fff;
}
.RojoEnd a{
    color: #fff;
}
.RojoEnd a:hover{
    color: #8b8b8b;
}
.Info{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22vw;
    font-size: 1.2em;
    transform: translate(39vw, 0vh);
    z-index: 100;
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 1500px) {
    .MainNav{
        font-size: 2em;
    }
    .TitleText{
        font-size: 2em;
    }
}
